<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <form method="POST" action="/new">
            <p>put your inputs and buttons in here!</p>

            <label for="sender">Name :</label>
            <input type="text" name="senderName" id="sender" />
            <br />
            <label for="msgText">Text :</label>
            <input type="text" name="textMsg" id="msgText" />
            <br />
            <button>Submit</button>
        </form>
    </body>
</html>
